In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('budget_data.csv', index_col=False)
df[['Month','Year']]=df['Date'].str.split('-',expand=True)

In [4]:
df.dtypes

Date             object
Profit/Losses     int64
Month            object
Year             object
dtype: object

In [5]:
df.head()

       Date  Profit/Losses Month  Year
0  Jan-2010         867884   Jan  2010
1  Feb-2010         984655   Feb  2010
2  Mar-2010         322013   Mar  2010
3  Apr-2010         -69417   Apr  2010
4  May-2010         310503   May  2010

In [6]:
total_months = df['Month'].count()
total_pl = df['Profit/Losses'].sum()
avg_change = pd.DataFrame(df['Profit/Losses']-df['Profit/Losses'].shift(1)).mean().to_dict()
max_profit = df[df['Profit/Losses']==df['Profit/Losses'].max()].to_dict()
min_profit = df[df['Profit/Losses']==df['Profit/Losses'].min()].to_dict()

In [56]:
print('Financial Analysis')
print('----------------------------')
print(f"Total Months: {total_months}")
print(f"Total: ${total_pl:,d}")
print(f"Average  Change: {avg_change['Profit/Losses']:.2f}")
print(f"Average  Change: $-2315.12")
print(f"Greatest Increase in Profits: {list(max_profit['Date'].values())[0]} (${list(max_profit['Profit/Losses'].values())[0]})")
# print(f"Greatest Increase in Profits: Feb-2012 ($1926159)")
print(f"Greatest Decrease in Profits: {list(min_profit['Date'].values())[0]} (${list(min_profit['Profit/Losses'].values())[0]})")
# print(f"Greatest Decrease in Profits: Sep-2013 ($-2196167)")

Financial Analysis
----------------------------
Total Months: 86
Total: $38,382,578
Average  Change: -2315.12
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1170593)
Greatest Decrease in Profits: Sep-2013 ($-1196225)

In [8]:
#Write Data to file
with open("PyBank.txt", mode="w") as results:
    results.write('Financial Analysis\n')
    results.write('----------------------------\n')
    results.write(f"Total Months: {total_months}\n")
    results.write(f"Total: ${total_pl:,d}\n")
    results.write(f"Average  Change: {avg_change['Profit/Losses']:.2f}\n")
    results.write(f"Greatest Increase in Profits: {list(max_profit['Date'].values())[0]} (${list(max_profit['Profit/Losses'].values())[0]})\n")
    results.write(f"Greatest Decrease in Profits: {list(min_profit['Date'].values())[0]} (${list(min_profit['Profit/Losses'].values())[0]})\n")